/*** ALGEMENE INSTELLINGEN EN BROWSER RESET ***/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }

body, .bdabout, .bdport {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: white;
    overflow: auto;
    background: url("../../static/img/index.jpg") center center;
    background-size: cover;
}

/* Specific 'body' class for about_me.html */
.bdabout { background: url("../../static/img/about.jpg") center center; }

/* Specific 'body' class for portfolio.html */
.bdport { background: url("../../static/img/portfolio.jpg") center center; }

a { text-decoration: none; color: white; }

/*** BEGIN SITE STRUCTURE ***/

.navigation, .indexwrapper, .abrclogo, .buttonbanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation, section, .abrclogo, .buttonbanner { background-color: black; }

.navigation {
    justify-content: flex-end; /* Rechts uitlijnen */
    height: 50px;
    position: relative; /* Moet erbij om overlap te vermijden bij GSM view in Landscape :$ */
}

.navigation a { margin-right: 75px; }

.navigation a:hover { color: #1c80c1; }

.wrapper {
    margin: 50px auto;
    width: 1200px;
}

.title {
    width: 100%;
    text-align: left;
}

.title h1 {
    margin-bottom: 10px;
}

section {
    width: 50%;
    height: auto;
    float: left;
    font-size: 16px;
    padding: 35px;
    margin-bottom: 20px; /* Om de .articles te scheiden als ze onder elkaar staan */
}

section h2, p, img { margin-top: 0px; }

section img { justify-content: center; }

/*** SPECIFIEKE STYLING VOOR INDEX.HTML ***/

.indexwrapper {
    height: calc(100% - 50px); /* 50px is de hoogte van de .navigation */
}

/*** SPECIFIC STYLING FOR ABOUT_ME.HTML ***/

.abrclogo {
    width: 50%;
    height: auto;
    float: left;
    padding: 25px 0 25px 0;
}

/*** SPECIFIC STYLING FOR PORTFOLIO.HTML ***/

article {
    width: 100%;
    height: auto;
    //float: left;
    //background-color: black;
    //padding: 25px 0 25px 0;
    //border: 1px solid red;
}

.buttonbanner{
    justify-content: left;
    width: 100%;
    height: 110px;
}

.knop {
	width: 175px;
    //display: block;
	text-decoration: none;
	text-align: center;
	//background-color: #c7b083;
    background-color: #446fc1;
	color: #fff;
	margin-left: 25px;
	padding: 10px;
	font-size: 14px;
    border-radius: 50px;
}

.knop:hover	{
	background-color: #0344f6;
}