{% extends "base.html" %}
{% block title%}Portfolio{% endblock %}

{% block content %}
    <div class="wrapper">

        <h1>PORTFOLIO PAGE</h1>

        <article>
            <h2>Smartninja Exercises</h2>
            <div class="buttonbanner">
                 <div class="knop"><a href="http://abrconsultancy.hopto.me/sn/les2/les2_fakebook.html"
                                      title="Fakebook">FAKEBOOK</a></div>
                 <div class="knop"><a href="http://abrconsultancy.hopto.me/sn/les3/les3_google.html"
                                      title="Fakebook">BOOGLE</a></div>
                 <div class="knop"><a href="http://abrconsultancy.hopto.me/sn/les5/"
                                      title="Fakebook">HAIR DRESSER</a></div>
            </div>
        </article>

        <article>
            <h2>Responsive Design Examples</h2>
            <div class="buttonbanner">
                 <div class="knop"><a href="http://abrconsultancy.hopto.me/cva/les11/weno.html"
                                      title="Weno">WENO</a></div>
                 <div class="knop"><a href="http://abrconsultancy.hopto.me/cva/les12/"
                                      title="Panama">PANAMA</a></div>
            </div>
        </article>

        <article>
            <h2>Mini Websites</h2>
            <div class="buttonbanner">
                 <div class="knop"><a href="http://abrconsultancy.hopto.me/cva/les10/"
                                      title="Transparency">TRANSPARENCY</a></div>
                 <div class="knop"><a href="http://abrconsultancy.hopto.me/"
                                      title="ABR Consultancy">ABR CONSULTANCY</a></div>
            </div>
        </article>

    </div>
{% endblock content %}