<!DOCTYPE html>

<html lang="en">

    <head>

        <title>ABR Consultancy</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ABR Consultancy">

        <!-- Google font "Open Sans:300" & "Open Sans Condensed:300" & "Quicksand" -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300|Quicksand&display=swap"
              rel="stylesheet">

         <!-- Link to external stylesheet -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    </head>

    <body class = bdabout>

        <div class="navigation">
            <a href="/" title="Home">HOME</a>
            <a href="/about" title="About Me">ABOUT</a>
            <a href="/portfolio" title="Portfolio">PORTFOLIO</a>
        </div>

        <div class="wrapper">

            <div class="title"><h1>ABOUT</h1></div>

            <div class="abrclogo"><img src="../static/img/ABRC_logo.png" width="380px"></div>

            <section>
                <h2>ABR Consultancy</h2>
                ABR Consultancy is an ICT consultancy company that is created by Axel Breens in March 2018.<br /><br />
                Axel is a versatile ICT professional with more than 15 years of experience driving engagements,
                business analysis, and operations functions for diverse global organizations. He is a proven leader
                skilled at Linking IT / Technology with commercial objectives.<br /><br />
                Axel has expertise in PMO, program and project management, as well as technology integration.
                He has a demonstrated history of collaborating with cross-functional and multinational teams comprised
                of personnel at all levels and from various skill sets.<br /><br />
                Axel has proven ability to ensure that operations meet the needs of enterprise clients and
                has a previous background in military leadership and staff training. He is enthusiastic and
                motivated, is a team player and an entrepreneur.<br /><br />
            </section>

        </div>

    </body>

</html>