<!DOCTYPE html>

<html lang="en">

    <head>

        <title>ABR Consultancy</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ABR Consultancy">

        <!-- Google font "Open Sans:300" & "Open Sans Condensed:300" & "Quicksand" -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300|Quicksand&display=swap"
              rel="stylesheet">

         <!-- Link to external stylesheet -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    </head>

    <body>

        <div class="navigation">
            <a href="/" title="Home">HOME</a>
            <a href="/about" title="About Me">ABOUT</a>
            <a href="/portfolio" title="Portfolio">PORTFOLIO</a>
        </div>

        <div class="indexwrapper">
             <img src="../static/img/ABRC_logo.png" width="1200px">
        </div>

    </body>

</html>