<!DOCTYPE html>

<html lang="en">

    <head>

        <title>ABR Consultancy</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ABR Consultancy">

        <!-- Google font "Open Sans:300" & "Open Sans Condensed:300" & "Quicksand" -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300|Quicksand&display=swap"
              rel="stylesheet">

         <!-- Link to external stylesheet -->
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    </head>

    <body>

        <div class="navigation">
            <a href="index.html" title="Home">HOME</a>
            <a href="about.html" title="About Us">ABOUT</a>
            <a href="projects.html" title="Projects">PROJECTS</a>
            <a href="contact.html" title="Contact">CONTACT</a>
        </div>

        <div class="indexwrapper">
            <div class="rechthoek">
                ABR<BR />CONSUL<BR />TANCY<BR />
            </div>
        </div>

    </body>

</html>
