{% extends "base.html" %}
{% block title%}About{% endblock %}

{% block content %}
    <div class="wrapper">

        <h1>ABOUT</h1>

        <section>
            <img src="/static/img/ABRC_logo.png" width="100%">
        </section>

        <section>
            <h2>ABR Consultancy KAKA</h2>
            ABR Consultancy is an ICT consultancy company that is created by Axel Breens in March 2018.<br /><br />
            Axel is a versatile ICT professional with more than 15 years of experience driving engagements,
            business analysis, and operations functions for diverse global organizations. He is a proven leader
            skilled at Linking IT / Technology with commercial objectives.<br /><br />
            Axel has expertise in PMO, program and project management, as well as technology integration.
            He has a demonstrated history of collaborating with cross-functional and multinational teams comprised
            of personnel at all levels and from various skill sets.<br /><br />
            Axel has proven ability to ensure that operations meet the needs of enterprise clients and
            has a previous background in military leadership and staff training. He is enthusiastic and
            motivated, is a team player and an entrepreneur.<br /><br />
        </section>

        <form method="post" action="/contact">
            <input type="text" name="contact-name" placeholder="Enter your name">
            <br>

            <input type="email" name="contact-email" placeholder="Enter email address">
            <br>

            <textarea name="contact-message" placeholder="Enter your message"></textarea>
            <br>

            <button type="submit">Submit</button>
        </form>

    </div>
{% endblock content %}