/*** ALGEMENE INSTELLINGEN EN BROWSER RESET ***/

html, body {
    height: 100%;
    margin: 20px;
    padding: 0;
}

* { box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    overflow: auto;
}

/*** SPECIFIC STYLING FOR INDEX.HTML ***/
input {
    margin-bottom: 20px;
    width: 350px;
}