/*** ALGEMENE INSTELLINGEN EN BROWSER RESET ***/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    overflow: auto;
}

/*** BEGIN SITE STRUCTURE ***/

.titel, .formulier, form, input, .groenvlak, .roodvlak { width: 100%; }

.wrapper {
    margin: 50px auto;
    width: 1200px;
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation, section, .buttonbanner, .formulier { background-color: black; }

.navigation {
    justify-content: flex-end; /* Rechts uitlijnen */
    height: 50px;
    position: relative; /* Moet erbij om overlap te vermijden bij GSM view in Landscape :$ */
}

.navigation a { margin-right: 75px; }

.navigation a:hover { color: #1c80c1; }

.titel {
    justify-content: left;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
}

.formulier {
    background-color: black;
    padding: 20px;
}

input, button {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    padding: 5px;
}

button { width: 100px; }

/*** SPECIFIEKE STYLING VOOR RESULT_ERROR.HTML AND RESULT_SUCCESS.HTML ***/

.groenvlak {
    background-color: #c3e6cb;
    border: 1px solid green;
    padding: 20px;
    color: darkgreen;
}

.roodvlak {
    background-color: #f8d7da;
    border: 1px solid red;
    padding: 20px;
    color: darkred;
}

